/* COMMON RULES */

* {

  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

html,body{
    overflow-x: hidden;
}

ul {

  margin-bottom: 0;
}

li {

  list-style: none;
}

a {

  color: black;
}

a:hover {

  text-decoration: none;
  color: black;
}

.jumbo-shadow {

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

/* HEADER */

/* Navbars section */

/* Navbar up */

.navbar-up ul li a {

  padding: 5px 0;
}

.navbar-up ul li {

  padding: 5px 0;
  margin: 0 30px;
}

.navbar-up ul li.flags {

  margin: 0 10px;
}

.navbar-up ul .nav-up-text:hover {

  border-bottom: 4px solid #9e9e9e;
}

.navbar-up ul .nav-up-text {

  border-bottom: 4px solid transparent;
}

/* Navbar down */

.navbar-down {

  background-color: #e6e6e6;
}

.navbar-down img {

  height: 40px;
}

.navbar-down ul .nav-down-text > a {

  padding: 10px 0;
}

.navbar-down ul .nav-down-text {

  padding: 10px 0;
  margin: 0 30px;
}

.navbar-down ul .nav-down-text {

  border-bottom: 8px solid transparent;
}

.navbar-down ul .nav-down-text:hover {

  border-bottom: 8px solid #01af74;
}

.navbar-down ul .logo {

  margin-right: 80px;
}

/* dropdown menu */

.navbar-down .parent-dropdown {

  position: relative;
}

.navbar-down .dropdown {

  display: none;
  position: absolute;

  background: white;

  top: 118%;
  right: -78px;

  z-index: 3;
}

.navbar-down .who .dropdown {

  right: -130px;
}

.dropdown ul li {

  width: 280px;

  background-color: #01af74;
}

.dropdown ul li:hover {

  background-color: white;
}

.dropdown ul li a {

  color: white;

  display: block;

  padding: 10px;

  height: 100%;
  width: 100%;
}

.dropdown ul li a:hover {

  color: black;
}

/* Mobile menu section */

.mobile-menu {

  display: none;
}

/* side menu section */
.sidemenu {
  width: 0;

  position: fixed;
  z-index: 1;

  top: 0;
  right: 0;

  overflow: hidden;

  transition: 0.5s;
}

/* green up side menu */
.sidemenu-green {

  background-color: #01af74;
  color: white;

  padding: 10px 0 0;
}

/* grey down side menu */
.sidemenu-grey {

  background-color: #e6e6e6;

  padding: 10px 0 0;

}

/* The navigation menu links */
.sidemenu a {

  display: block;

  transition: 0.3s;

  font-size: 12px;
}

.sidemenu-green a {

  color: white;

  border-bottom: 3px solid transparent;
}

.sidemenu-green a:hover {

  border-bottom: 3px solid white;
}

.sidemenu-grey a {

  color: #707070;

  border-bottom: 3px solid transparent;
}

.sidemenu-grey a:hover {

  border-bottom: 3px solid #9e9e9e;
}


.sidemenu span {

  font-size: 11px;

  padding-right: 10px;
  margin: 7px 0 20px 0;
}

.sidemenu ul li {

  padding-right: 10px;
}

.sidemenu ul li a {

  margin-bottom: 15px;
}

/* dropdown side menu links */
.parent-sidemenu {

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.child-sidemenu {

  display: none;

  background-color: white;

  padding: 10px 0;

  margin-bottom: 10px;

  width: 200px;
}

.child-sidemenu li {

  text-align: right;

  margin-bottom: 10px;
}

.child-sidemenu a {

  color: #707070;

  border-bottom: 3px solid transparent;

  display: inline;

  margin-bottom: 10px;
  padding: 3px;
}

.child-sidemenu a:hover {

  border-bottom: 3px solid #707070;
}



/* close button  */
.sidemenu .closebtn {
  position: absolute;
  top: -5px;
  left: 10px;
  font-size: 36px;
}

#container {
  transition: margin-right .5s;
}

/* Jumbo section  */

.jumbo {

  height: 300px;

  background-image: url("../img/jumbo.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: auto 430px;
  background-position: center top;


  color: white;
}

.jumbo h1 {

  text-shadow: 0.5px 0.5px black;

}

.jumbo p {

  width: 400px;

  text-align: center;
  text-shadow: 0.5px 0.5px black;
  font-size: 18px;

  margin-top: 20px;
}



/* MAIN */

/* Components links section */

.components {

  height: 600px;
}

.components h2 {

  color: #707070;
}

.components-links {

  height: 500px;
  width: 800px;
}

.components-link {

  margin: 10px;

  height: calc(50% - 20px);
  width: calc((100% / 3) - 20px);

  border-radius: 7px;

  -webkit-box-shadow: 0 0 3px lightgrey;
        box-shadow: 0 0 3px lightgrey;

  transition: all .25s ease-in-out;
}

.components-link:hover {

  transform: scale(1.05);
}

.components-link a {

  width: 100%;
  height: 100%;
}

.components-link a img {

  width: 100%;
  border-radius: 7px 7px 0 0;
}

.components-link a span {

  height: 30%;

  border-top: 7px solid #01af74;

  color: #707070;

  text-align: center;
}

.components-link:hover span {

    border-top: 7px solid #ffb900;
}

/* company divisions section */

.company-divisions {

  color: white;

  height: 600px;

  background-image: url("../img/panoramica_lab.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.company-divisions h2 {

  text-shadow: 0.5px 0.5px black;
}

.divisions {

  margin-top: 30px;
}

.division {

  display: flex;

  margin: 0 20px;
  width: 15%;
}

.division > * {

  margin-bottom: 20px;
}

.division img {

  height: 100px;
}

.division h3 {


  font-size: 20px;
  text-align: center;
  text-shadow: 0.5px 0.5px black;
}

.division p {

  width: 80%;
  text-align: center;
  text-shadow: 0.5px 0.5px black;
}

/* Location section */

.location {

  height: 600px;
}

.location h2 {

  color: #707070;
}

.location-main-content {

  width: 60%;
  max-height: 100%;

  margin: 30px 0;
}

.location-main-content img {

  width: 40%;
}

.location-main-content-text {

  height: 100%;
  margin-right: 30px;
}

.location-main-content-text .location-main-content-paragraph {

  padding: 10px 0;
  font-size: 16px;
}

.location-main-content-text .location-main-content-paragraph p {

  margin-bottom: 0;
}

.location-main-content-title {

  height: 50px;
}

.location-main-content-title h3 {

  color: #707070;

  font-size: 18px;
  padding-bottom: 5px;
}

.location-main-content-title .green-underline {

  width: 40%;
  border-bottom: 7px solid #01af74;
  text-align: center;
}

.location-main-content-title .grey-underline {

  padding-left: 30px;
  width: 60%;
  border-bottom: 7px solid #e6e6e6;
}

.location-buttons {

  width: 90%;

  justify-content: space-between;
}

.location-buttons a {

  padding: 10px 15px;

  font-size: 14px;
  font-weight: bold;
}

.location-buttons a.button-green {

  background-color: #01af74;
  color: white
}

.location-buttons a.button-green:hover {

  background-color: rgba(1, 175, 116, 0.7);
}

.location-buttons a.button-grey {

  color: #707070;
  border: 1px solid #707070;
}

.location-buttons a.button-grey:hover {

  background-color: rgba(0, 0, 0, 0.05);
}





/* FOOTER */
footer {

  height: 400px;

  background-color: #707070;
  color: white;
}

footer a {

  color: white;
}

footer a:hover {

  color: lightgrey;
}

.footer-container {

  height: 100%;
  width: 100%;
}

.footer-content {

  width: 60%;
  height: 80%;
}

.footer-content > span {

  align-self: center;
}

.footer-content .show-mobile {

  display: none;
}

.footer-content img {

  height: 40px;
}

.footer-main-content {

  display: flex;
  width: 100%;
}

.footer-column {

  margin: 0 10px;
  width: calc(25% - 20px);
}

.footer-column:first-of-type {

  margin-left: 0;
}

.footer-column:last-of-type {

  margin-right: 0;
}

.footer-column h4 {

  padding-bottom: 5px;

  font-size: 18px;

  border-bottom: 1px solid white;
}

.footer-column span {

  font-size: 12px;
}
